body {
  margin: 0;
  padding: 0;
  background: #00334D;
  background-color: #eee;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .5em;
  font-weight: 500;
  line-height: 1.1;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.375em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .875em;
}

p {
  margin: 0 0 1.5em;
  line-height: 1.5;
}

p.login {
  margin: 0 0 1.0em;
  line-height: 1;
}

.container {
  max-width: 70em;
  margin: 0 auto;
}

.header {
  color: #fff;
  background: #006699;
  padding: 1em 1.25em;
  height: 200px;
}
